/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;700&display=swap');

/* common style or utilitis */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
.top-players{
    margin-bottom: 30px;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 21px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

/* top-player */
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 29px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{

    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
}
/* --------Top blog style-------- */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    Width: 224px;
    Height: 127px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;

}
.blog-author a{
    color: #562EFF;
    font-size: 16px;
    text-decoration: none;
}

/* ------lates course------ */

.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.course{
    box-shadow: 0.5px 0.5px 10px gray;
    border-radius: 10px;
    padding: 10px;
}
.course-banar img{
    width: 224px;
    height: 104px;
}
.course-title > h3{
    line-height: 10px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fas.fa-star{
    font-size: 12px;
}
.fas.field{
    color: #FFC014;
}    
.fas.empty{
    color: #AEAEAE;
}
.course-duretion{
    background-color: #ff4a5f81;
    border-radius: 10px;
}
/*-------------------------
      media querys 
 ------------------------*/

 /*----mobile devices----*/

 @media only screen and (max-width:688px) {
     .container{
         width: 100%;
     }
     .section-title{
         margin-left: 50px;
     }
     .players, .blogs, .courses{
         grid-template-columns: repeat(1, 1fr);
         justify-items: center;
     }
     .player, .blog{
         flex-direction: column;
     }
     .blog{
         align-items: center;
     }
     .blog-author{
         text-align: center;
     }
     .course{
         margin: 10px 0px;
     }
 }

 /*-----------------------
     tablet devices
 -----------------------*/

 @media screen and (min-width:688px) and (max-width:992px) {
     .section-title{
        margin-left: 100px;
     }
     .courses{
        grid-row-gap: 20px;
     }
    .players, .courses{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .blog{
        flex-direction: column;
    }
 }